.listing-box {
    margin: 1%;
    width: auto;
    overflow: auto;
    
    border: 1px solid #D3D3D3;
}

.box-img {
    width: 220px;
    height: 220px;
    margin: 10px;
    float: left;
}

.box-title {
    margin-top: 10px;
}

.box-price {
    margin-bottom: 0px;
}

