body {
    padding: 10px;
}

#listingimg {
    width: 800px;
    height: auto;
    border: 1px solid #D3D3D3;
    float: left;
    margin-right: 20px;
}

#listingdescription {
    margin-top: 10px;
    margin-bottom: 30px;
}

#listingprice {
    margin: 20px;
}

.rmvwidth {
    width: 15%;
}

.main-content {
    width: 100%;
    display: inline-block;
}

.belowarea {
    margin-left: 1%;
}

h4 {
    margin-top: 25px;
}

.comment-form {
    width: 20%;
    margin-bottom: 1%;
}

.comment-form .btn {
    margin-left: 3%;
}


.listingcomment {
    width: 100%;
    margin-left: 1%;
    padding-top: 1%;
}

.listingcomment p {
    margin-top: -5px;
}