body {
    padding: 10px;
}

#listingimg {
    width: 40%;
    height: 40%;
    border: 1px solid #D3D3D3;
    float: left;
    margin-right: 20px;
}

#listingdescription {
    margin-top: 10px;
    margin-bottom: 50px;
}

#listingprice {
    color: red;
}

strong {
    font-size: large;
    margin-bottom: 10px;
}