body {
    padding: 10px;
}

#listingimg {
    width: 40%;
    height: 40%;
    border: 1px solid #D3D3D3;
    float: left;
    margin-right: 20px;
}

#listingdescription {
    margin-top: 10px;
    margin-bottom: 30px;
}

#listingprice {
    margin: 20px;
}

strong {
    font-size: large;
    margin-bottom: 10px;
}

.rmvwidth {
    width: 15%;
}

.belowarea {
    margin-left: 1%;
}

h4 {
    margin-top: 25px;
}