{% extends "auctions/layout.html" %}

{% block body %}
    <div class="main-content">
        <img id="listingimg" src="{{ listing.image }}" alt="{{ listing.title }}">

        <h1>{{ listing.title }}</h1>

        <p id="listingdescription">{{ listing.description }}</p>

        <span>Starting Price: {{ listing.starting_bid }}€</span>

        <!-- listing.listing_bids.values_list(value)|max -->
        <h2 id="listingprice">{{ current_bid }}</h2>

        {% if user == listing.seller %}
            <h1>TEST</h1>
        {% else %}
            <form>
                <div class="form-group">
                    <!-- listing.listing_bids.all|length -->
                    <small>{{ listing.listing_bids.all|length }} bid(s) so far.</small>
                    <input type="number" class="form-control rmvwidth" placeholder="Bid">
                </div>

                <input type="submit" class="btn btn-primary" value="Place Bid">
            </form>
        {% endif %}
    </div>


    <!-- Details & Commends -->
    <div class="belowarea">
        <h4>Details</h4>

        <ul>
            <li>Listed by: <strong>{{ listing.seller.username }}</strong></li>
            <li>Category: <strong>{{ listing.category.title }}</strong></li>
        </ul>

        <h4>Comments</h4>

        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <div class="input-group comment-form">
                <input type="text" class="form-control" name="content" placeholder="Add a comment">
                <input type="submit" class="btn btn-primary" value="Comment">
            </div>
            
        </form>

        {% for comment in listing.listing_comments.all %}
            <div class="listingcomment">
                <h6>{{ comment.user.username }}</h6>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock %}